.login{
    margin-top: 50px;
}
.imagem-logo{    
    width: 20%;
    
}
.nav-logo{
    margin-left: 25px;
}
.card-foto{
    width: 10%;
}

.info-card-prog{
    padding-top: 50px;    
}



html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 400px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;    
    width: 100%;
}