.login{
    margin-top: 50px;
}
.imagem-logo{    
    width: 20%;
    
}
.nav-logo{
    margin-left: 25px;
}
.card-foto{
    width: 10%;
}

.info-card-prog{
    padding-top: 50px;    
}



html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 400px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;    
    width: 100%;    
}
.brown-text{
    color:#FFFFFF;
}
.nav-celular{
  padding-left: 12px;
}


@media (max-width: 1000px) {
    .titulo-pagina{
        font-size: 25px;
        font-weight: bold;
    }
    
    footer{
       position:relative;
       bottom:-20px;
       left:0;
       width: 100%;


    }
    
    body {
        margin: 0 0 0; /* bottom = footer height */
    }
    .acao-lista{
        display: none;
    }
    
    .imagem-logo{    
    width: 55%;    
    }
    
}